@import "../../assets/colors.scss";

.submit-btn {
  padding: 40px 0px 50px 0px;
}

.login-container {
  a {
    text-decoration: none;
  }
}

.forgot-pswd-container,
.reset-pswd-container {
  padding-top: 130px;
}
