$bottomBodyBgColor: #edf6ff;
$upperBodybgColor: #303f60;
$defaultTxtColor: #1a253c;
$white: #ffffff;
$blueColor: #43afff;
$menuBar: #d9efff;
$borderLine: #4d618e;
$boxShadow: #557da526;
$btnBgColor: #43afff33;
$inputBgColor: #e8e8e833;
$modalBgColor: #EEEFF2;